
config VIDEO_CAMERIC
	tristate "Cameric Subsystem driver"
	depends on VIDEO_V4L2 && VIDEO_V4L2_SUBDEV_API
	depends on OF && COMMON_CLK
	select VIDEOBUF2_DMA_CONTIG
	select V4L2_MEM2MEM_DEV
	help
	  Say Y here to enable camera host interface devices for Cameric

