config VIDEO_ov5695
	tristate "ov5695 driver adapt to rockchip cif isp platform"
	depends on VIDEO_V4L2 && VIDEO_RK_CIF_ISP10 && I2C
	default n
	---help---
	  This is ov2710 camera driver adapt to rockchip cif isp platform.
